@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <iframe width="100%" src="PdfHandler.ashx" height="100%"></iframe>

</body>
</html>
